<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">S.S.U.P. - Rr.Hh.</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active" >Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/boletas_pago']" routerLinkActive="active" >Boletas de Pago</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/boletas_aguinaldo']" routerLinkActive="active" >Boletas de Aguinaldo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/boletas_reintegro']" routerLinkActive="active" >Boletas de Reintegro</a>
      </li>
    </ul>
    <!--form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->
  </div>
</nav>
