<div style="margin: 2em;">
  <br>
  <div id="boltspags">
    <a [routerLink]="['/boletas_pago']">
      <h1 class="text-center" style="font-size: 36px;">
        <br>
        <b>BOLETAS DE PAGO MENSUAL</b>
        <br>
        <br>
      </h1>
    </a>
  </div>
  <div id="boltsaguil">
    <a [routerLink]="['/boletas_aguinaldo']">
      <h1 class="text-center" style="font-size: 36px;">
        <br>
        <b>BOLETAS DE PAGO AGUINALDOS</b>
        <br>
        <br>
      </h1>
    </a>
  </div>
  <div id="boltsreints">
    <a [routerLink]="['/boletas_reintegro']">
      <h1 class="text-center" style="font-size: 36px;">
        <br>
        <b>BOLETAS DE PAGO REINTEGROS</b>
        <br>
        <br>
      </h1>
    </a>
  </div>
</div>
