#btnx {
  background-color: crimson;
  transition-duration: 3s;
  color: white;
}

#btnx:hover {
  background-color: navy;
  transition-duration: 3s;
}

#btnxfooter:hover {
  background-color: navy;
  transition-duration: 3s;
}